body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient( rgba(0, 0, 0, 0.698), rgba(0, 0, 0, 0.353) ), url(https://assets.nflxext.com/ffe/siteui/vlv3/c8c8a0ad-86d6-45f1-b21d-821afa4e5027/3ada2338-8d4b-4a34-bdb3-c800e0109915/TR-tr-20220801-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
    height: fit-content;
}
#nf-logo{
    margin-top: 20px;
    margin-left: 50px;
    width: 170px;
}
#form-section{
    color:white;
    background-color: rgba(0, 0, 0, 0.644);
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
}
#form-section p{
    font-size: 24px;
    font-weight: 700;
    margin:30px;
}
input, select, textarea{
    display: block;
    margin: 20px auto; 
    width: 300px;
    box-sizing:content-box;
}
.form-text, select, textarea{
    background-color: #333333;
    border: none;
    border-radius: 5px;
    padding: 16px;
    color: #aeaeae;
    font-size: 1rem;
}
#form-submit{
    background-color: #E50914;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    width: 330px;
    padding: 16px;
    margin-left: 35px;
}
::placeholder{
    color: #aeaeae;
    opacity: 1;
    font-size: 1rem;
}
.container{
    background-color: rgba(0, 0, 0, 0.644);
    width: 1080px;
    height: 467px;
    color: gray;
}
#sss{
    text-decoration: none;
    color: gray;
    margin-left: 5px;
    font-size: 30px;
}
#help_center{
    text-decoration: none;
    color: gray;
    margin-left: 5px;
    font-size: 30px;
}
#kullanım{
    text-decoration: none;
    color: gray;
    margin-left: 50px;
    font-size: 30px;
    margin-top: 20px;
}
#corp_info{
    text-decoration: none;
    color: gray;
    margin-left: 50px;
    font-size: 30px;
}
#privacy{
    text-decoration: none;
    color: gray;
    margin-left: 197px;
    font-size: 30px;
    margin-top: 80px;
}